<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css" integrity="sha384-CfCrinSRH2IR6a4e6fy2q6ioOX7O6Mtm1L9vRvFZ1trBncWmMePhzvafv7oIcWiW" crossorigin="anonymous">

    <title>Text Utils Sites</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Text Utils Sites</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
     <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to this sites</strong> I think you will enjoy this website for your text utils related operation.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>
    <div class="container">
        <form action="/analyze" method="post"> {% csrf_token %}
            <div class="form-group">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Text Here</label>
                <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
<div class="form-check form-switch d-flex align-items-center gap-2">
  <input class="form-check-input m-0" type="checkbox" name="removePunc" id="customSwitch1">
  <label class="form-check-label m-0" for="customSwitch1">Remove Punctuations from text</label>
</div>
        <div class="form-check form-switch d-flex align-items-center gap-2">
  <input class="form-check-input m-0" type="checkbox" name="capitalizestring" id="customSwitch2">
  <label class="form-check-label m-0" for="customSwitch1">Convert text to Upper Case</label>
</div>
        <div class="form-check form-switch d-flex align-items-center gap-2">
  <input class="form-check-input m-0" type="checkbox" name="spaceremover" id="customSwitch3">
  <label class="form-check-label m-0" for="customSwitch1">Space Remover from text</label>
</div>
        <div class="form-check form-switch d-flex align-items-center gap-2">
  <input class="form-check-input m-0" type="checkbox" name="newlineremover" id="customSwitch4">
  <label class="form-check-label m-0" for="customSwitch1">New Line Remover from text</label>
</div><br>
            <button type="submit" class="btn btn-primary btn-sm" >Analyze Text</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  </body>
</html>